*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 3.2rem;
    color: black;
    margin-bottom: 3rem;
}





.container {
    position: relative;
    background-color: white;
    margin: 17rem auto;
    max-width: 100rem;
    width: 80%;
    height: 55rem;
    border-radius: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
}

@media (max-width: 986px) {
    .container {
        margin: 20rem auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 100rem;
        width: 80%;
        height: 100rem;
    }
}

.container-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100rem;
    width: 80%;
    height: 55rem;
    border-radius: 50px;
    z-index: 500;
    visibility: hidden;
}



.box-desktop {
    width: 22rem;
    position: absolute;
    top: 20rem;
    left: -11rem;
    z-index: 500;
    visibility: visible;
}

.pattern-deskop {
    position: absolute;
    width: 102rem;
    top: -31rem;
    transform: translateX(-57rem);
}

@media (max-width: 986px) {
    .pattern-deskop {
        position: relative;
        width: 43rem;
        top: -20rem;
        transform: translateX(11rem);
    }
}

.woman-online {
    position: absolute;
    min-width: 54rem;
    top: 5rem;
    left: -9rem;
}
@media (max-width: 986px) {
    .woman-online {
        position: absolute;
        width: 10%;
        top: 5rem;
        left: -9rem;
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 6.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: 'Kumbh Sans', sans-serif;
}

.question-block {
    padding: 2rem 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.arrow {
    width: 4%;
    height: 3%;
    transform: rotate(180deg);
}

.question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.active {
    font-weight: 700;
}

.active>.arrow {
    transform: rotate(0deg);
}

/* .direction {
    transform: rotate(180);
} */

.panel {
    color: hsl(237, 12%, 33%);
    padding-top: 2rem;
    display: none;
    overflow: hidden;
}